@model ICollection<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Senha</th>
                        <th>Tipo</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Usuario u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.Nome</td>
                            <td>@u.Login</td>
                            <td>@u.Senha</td>
                            <td>@u.Tipo</td>
                            <td><a href="/Usuario/EditarUsuario/@u.Id">Editar</a></td>
                            <td><a href="/Usuario/ExcluirUsuario/@u.Id">Excluir</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p><strong>Nenhum registro encontrado!</strong></p>
        }
    </div>
</div>